/* GENERAL SETTINGS */
@font-face {
  font-family: JennaSue;
  src: url(../fonts/JennaSue.ttf);
}

.wrapper {
  background: url('../img/background-left.jpg') no-repeat top left, url('../img/background-right.jpg') no-repeat top right;
  margin: 0 auto;
  text-align: center;
}

.wrapper--up {
  padding-left: 1px;
  background: url('../img/header--background.jpg') no-repeat top;
}

.small--wrapper {
  display: inline-block;
}

/* TEXT STYLING */
h1 {
  font-family: Georgia;
  font-size: 77px;
  text-align: center;
  margin-top: -2px;
}

h2 {
  font-family: Georgia;
  font-size: 44px;
  text-align: center;
}

h3 {
  color: #333333;
  font-family: Georgia;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
}

h4 {
  font-family: Georgia;
  color: #ac005f;
  font-size: 28px;
  line-height: 34px;
  text-align: left;
}

.logo--link {
  color: #fff;
  text-decoration: none;
}

.small--button {
  color: #fff;
  font-family: Arial;
  font-size: 14px;
}

.preambula {
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.big--button {
  color: #fff;
  font-family: Arial;
  font-size: 24px;
  font-style: italic;
}

.more--text {
  color: #fff;
  font-family: Georgia;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}

.more--link {
  color: #ffb400;
  text-decoration: none;
}

.opinion {
  color: #fff;
  font-family: Georgia;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}

.opinion--link {
  color: #ffb400;
  text-decoration: none;
}

.story--text {
  font-family: Arial;
color:  #444444;
font-size: 14px;
line-height: 22px;
text-align: left;
}

.story--bold {
  font-weight: bold;
}

.main--text {
  color:  #444444;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.sign {
  font-family: JennaSue;
  font-size: 44px;
  line-height: 44px;
}

.autor--text {
  font-family: JennaSue;
  font-size: 32px;
  line-height: 36px;
  text-align: left;
}

.footer--link {
  color: #777777;
  font-family: Arial;
  font-size: 11px;
}

.copyright {
  color: #9a9a9a;
  font-family: Arial;
  font-size: 12px;
}





/* HEAD */
header {
  display: inline-block;
  position: relative;
  width: 942px;
  border-top: 2px solid #ffb400;
  border-bottom: 1px solid #ffb400;
  padding: 23px 0 35px;
}

.video {
  float: left;
  margin-left: 1px;
  margin-top: 3px;
  height: 389px;
  width: 639px;
}

.logo-wrapper {
  float: right;
}

h2 {
  margin-top: 19px;
  margin-left: 1px;
}

.preambula {
  margin-top: 16px;
  display: inline-block;
  width: 245px;
}

.menu {
  margin-top: 48px;
  width: 946px;
  text-align: left;
}

.menu::after {
  display: table;
  content: '';
  clear: both;
}

.menu--item {
  display: inline-block;
  height: 256px;
  border-radius: 50%;
  background: url('../img/menu.png') no-repeat -575px -148px;
  width: 256px;
}

.menu--item:first-child {
  margin: 0 62px 0 5px;
  background: url('../img/menu.png') no-repeat -51px -201px;
}

.menu--item {
}

.menu--item:last-child {
    margin-left: 60px;
  background: url('../img/menu.png') no-repeat -935px -200px, #fff;
}

.menu--link {
    height: 256px;
    line-height: 256px;
    text-decoration: none;
    width: 256px;
  display: inline-block;
}

.more--text {
    margin: 20px 0 0 -34px;
}

.header--devider {
  position: absolute;
  margin-left: 445px;
  margin-top: -20px;
  height: 42px;
  width: 42px;
  background: #372222; /*url('../img/') no-repeat center;*/
  border-radius: 50%;
}

.small--button {
  margin: 9px 0 0 -1px;
  background: linear-gradient(0deg, #251717 0%, #523232 53%);
  border: 0;
  border-radius: 12px;
  height: 31px;
  width: 131px;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.big--button {
  margin-top: 18px;
  border-radius: 7px;
  border: 2px solid #171717;
  background: linear-gradient(0deg, #b35d00 0%, #d48f00 100%);
  box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.75);
  height: 68px;
  width: 198px;
  text-align: left;
  padding: 1px 0 0 32px ;
  letter-spacing: 1px;
  word-spacing: -2px;
}

.opinion {
  display: inline-block;
  margin-top: 17px;
  padding-top: 2px;
  margin-left: -1px;
  background: #4d2f2f;
  /*border: 2px solid #171717;*/
  border-radius: 22px;
  height: 35px;
  width: 364px;
}

.opinion--link {
  border-bottom: 1px solid #ffb400;
}

/* nav */
nav {
  background: #fff;
  width: 946px;
}

.dvd {

}

.dvd--item {
  display: inline-block;

  height:
  /*box-sizing: border-box;*/

}

.dvd--link {
  display: inline-block;
  height: 246px;
}

.story--wrapper {
  background: linear-gradient(0deg, #840322 0%, #c42a4f 45%);
}

.dvd--story {
  background: #fff;
  border: 3px solid #000;
  border-radius: 22px;
  border-top: 0;
}



/* MAIN */
main {
  margin: 0 auto;
  background: #fff;
  position: relative;
  width: 946px;
}

section {
  float: left;
  height: 653px;
  width: 455px;
}

aside {
  float: right;
  width: 263px;
}

.author {
    height: 200px;
    background: url('../img/author.png') no-repeat -292px -344px;
    border-radius: 50%;
    width: 200px;
}

main::after {
  display: table;
  content: '';
  clear: both;
}

/* FOOTER */
footer {
    margin: 0 auto;
    width: 946px;
}

.copyright {
  float: left;
}

.footer--menu {
  float: right;
}

.footer--item {
  display: inline-block;
}

.footer--link:hover {
    text-decoration: none;
}

.footer--link:active {
    text-decoration: none;
}
